/* Base for label styling */
[type="checkbox"].is-Done:not(:checked),
[type="checkbox"].is-Done:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"].is-Done:not(:checked) + span,
[type="checkbox"].is-Done:checked + span {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"].is-Done:not(:checked) + span:before,
[type="checkbox"].is-Done:checked + span:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 2px;
    width: 17px;
    height: 17px;
    border: 1px solid #aaa;
    background: #f8f8f8;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}

/* checked mark aspect */
[type="checkbox"].is-Done:not(:checked) + span:after,
[type="checkbox"].is-Done:checked + span:after {
    content: '✔';
    position: absolute;
    top: -3px;
    left: 8px;
    font-size: 14px;
    color: #67ad23;
    transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"].is-Done:not(:checked) + span:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"].is-Done:checked + span:after {
    opacity: 1;
    transform: scale(1);
}

/* disabled checkbox */
[type="checkbox"].is-Done:disabled:not(:checked) + span:before,
[type="checkbox"].is-Done:disabled:checked + span:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="checkbox"].is-Done:disabled:checked + span:after {
    color: #999;
}
[type="checkbox"].is-Done:disabled + span {
    color: #aaa;
}
/* accessibility */
[type="checkbox"].is-Done:checked:focus + span:before,
[type="checkbox"].is-Done:not(:checked):focus + span:before {
    border: 1px dotted blue;
}
/* hover style just for information */
span:hover:before {
    border: 1px solid #4778d9!important;
}