html * {
	box-sizing: border-box;
    font-family: Arial;
}

header {
	background: #7575B6;
	text-align: center;
	width: 100%;
    min-height: 90px;

    position: fixed;
    z-index: 9000;
    padding: 5px;
}

.wrapper {
    padding: 91px 0 0 0;
    margin: 0;
    width: 100%;
}

header * {
    display: inline;
    vertical-align: middle;
    margin: 0 5px;
}

header .account-control {
   float: right;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

li {
    background: #C2D699;
    min-height: 50px;
    height: auto;
    font-size: 20px;
    line-height: 1.5em;
    padding: 5px 0;
    margin: 3px 0;
}

li.is-Done {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: -1.5em;
}

li.item-text,
li.item-edit {
    width: 90%;
    margin-left: 3%;
    margin-right: 2%;
}

li.item-delete {
    width: auto;
    margin-top: -0.3em;
}

li * {
    display: inline;
    vertical-align: middle;
}

.btn.transparent {
    background: transparent;
    border: #ffffff solid;
}

.item-text,
.item-edit {
    text-decoration: inherit;
    word-wrap: break-word;
}

.done {
    text-decoration: line-through;
    background: #aaaaaa;
}

.main-area {
    height: 100vh;
}